
A:link {
	COLOR: #333333; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A:hover {
	COLOR: #333333; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A:link {
	COLOR: #333333; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A:visited {
	COLOR: #333333; FONT-SIZE: 9pt; TEXT-DECORATION: none
}

