BODY {
  PADDING-LEFT: 0px;PADDING-BOTTOM: 0px; MARGIN: 0px;PADDING-TOP: 0px;font-size:9pt;
  background-color: #EAE9E4;
  	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
/*
div{font-size:9pt;
}*/
table{font-size: 9pt; line-height: 140%}
a:link{color:#2764B5;text-decoration:none}
a:visited{color:#2764B5;text-decoration:none}
a:active{color:#2764B5;text-decoration:underline}
a:hover{color:#FF9900;text-decoration:none}
a.tt:link{color:#FFFFFF;text-decoration:none}
a.tt:visited{color:#FFFFFF;text-decoration:none}
a.tt:active{color:#FFFFFF;text-decoration:underline}
a.tt:hover{color:#000000;text-decoration:none}
.word{text-indent:20px;line-height:150%}
.button_minimum{width:50px;height:24px;background-image:url(../images/bg_button_main.gif);BORDER:#5A6CA2 solid;BORDER-WIDTH:0px 0px 0px 0px;color:#247DAB;}
.button{width:80px;height:24px;background-image:url(../images/bg_button_main.gif);BORDER:#5A6CA2 solid;BORDER-WIDTH:0px 0px 0px 0px;color:#247DAB;}
.button2{width:95px;height:24px;background-image:url(../images/bg_button_main_2.gif);BORDER:#5A6CA2 solid;BORDER-WIDTH:0px 0px 0px 0px;color:#247DAB;}
.lbutton{width:100px;height:24px;background-image:url(../images/bg_button_long.gif);BORDER:#5A6CA2 solid;BORDER-WIDTH:0px 0px 0px 0px;color:#247DAB;}
.lbutton_sel{width:100px;height:24px;background-image:url(../images/bg_button_sel.png);BORDER:#5A6CA2 solid;BORDER-WIDTH:0px 0px 0px 0px;color:#247DAB;}
.uploadButton{font-size: 13px;font-weight:bold;text-align: center; padding-top: 5px;width:80px;height:20px;}
.title1{filter:DropShadow(Color="#2A58A6",OffX="1",OffY="1",Positive="1");color:#FFFFFF;font-size:13px;font-weight:bold;}
.title2{filter:DropShadow(Color="#FFFFFF",OffX="1",OffY="1",Positive="1");color:#2A58A6;font-size:13px;font-weight:bold;}
.thlist{height:23px;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF', endColorStr='#5baddf', gradientType='0');text-align:center;vertical-align:center;border:#9A9A9A solid;border-width:0px 0px 1px 0px; border-right:#EAE9E4 solid 1px;}
.tdlist{height:20px;text-align:center;vertical-align:center;border:#EAE9E4 solid;border-width:0px 1px 1px 0px; }
.tabout{border:#9A9A9A solid;border-width:1px 1px 1px 1px;}
.xxline{background-image=url('../images/xt_h.jpg');height:1px;border-width:0px 0px 0px 0px;}
.tdulleft{border:#EAE9E4 solid;border-width:0px 1px 1px 0px;text-align:right;width:20%}
.tdulleft_normal{border:#EAE9E4 solid;border-width:0px 1px 1px 0px;text-align:right;}
.tdr{border:#EAE9E4 solid;border-width:0px 1px 1px 0px;text-align:right;vertical-align:center;}
.tdc{border:#EAE9E4 solid;border-width:0px 1px 1px 0px;text-align:center;vertical-align:center;}
.tdl{border:#EAE9E4 solid;border-width:0px 1px 1px 0px;text-align:left;vertical-align:center;}

.tdulright{border:#EAE9E4 solid;border-width:0px 1px 1px 0px;text-align:left;}
.tdulright_word{border:#EAE9E4 solid;border-width:0px 1px 1px 0px;text-align:left;}
.trcolor{background:#F5F5F5;}
.trwhite{background:#FFFFFF;}
.trcolorgray{background:#CFCFCF;}
.inputtext{border-top:#323230 solid 1px;border-left:#323230 solid 1px;border-bottom:#FAFEFA solid 1px;border-right:#FAFEFA solid 1px;background:#C6D6E2;height:18px;font-size:12px;}
.view{border:0;background-color:transparent;}
.inputtextarea{border-top:#323230 solid 1px;border-left:#323230 solid 1px;border-bottom:#FAFEFA solid 1px;border-right:#FAFEFA solid 1px;background:#C6D6E2;height:80px;font-size:12px;}
.inputpage{border-top:#323230 solid 1px;border-left:#323230 solid 1px;border-bottom:#FAFEFA solid 1px;border-right:#FAFEFA solid 1px;background:#C6D6E2;height:18px;font-size:12px;width:20px;text-align:center;}
.go{border:0px solid #ffffff;cursor:hand;}
.tdultext{border:#EAE9E4 solid;border-width:0px 1px 1px 0px;text-align:right;vertical-align:center;}
.tdulinput{border:#EAE9E4 solid;border-width:0px 1px 1px 0px;text-align:left;vertical-align:center;}
.textarea{border-top:#323230 solid 1px;border-left:#323230 solid 1px;border-bottom:#FAFEFA solid 1px;border-right:#FAFEFA solid 1px;;overflow:auto;width:400px;background-color:#C6D6E2;line-height:140%;}
.multySelect{border-top:#323230 solid 1px;border-left:#323230 solid 1px;border-bottom:#FAFEFA solid 1px;border-right:#FAFEFA solid 1px;background:#C6D6E2;height:120px;font-size:12px;}
.forTextArea{border-top:#323230 solid 1px;border-left:#323230 solid 1px;border-bottom:#FAFEFA solid 1px;border-right:#FAFEFA solid 1px;background:#C6D6E2;width:100%;height:60px;font-size:12px;}
.forTextArea2{border-top:#323230 solid 1px;border-left:#323230 solid 1px;border-bottom:#FAFEFA solid 1px;border-right:#FAFEFA solid 1px;background:#C6D6E2;width:100%;height:120px;font-size:12px;}
.forTextArea3{border-top:#323230 solid 1px;border-left:#323230 solid 1px;border-bottom:#FAFEFA solid 1px;border-right:#FAFEFA solid 1px;background:#C6D6E2;font-size:12px;}
.selecttext{border-top:#323230 solid 1px;border-left:#323230 solid 1px;border-bottom:#FAFEFA solid 1px;border-right:#FAFEFA solid 1px;background:#C6D6E2;font-size:12px;}
