BODY {
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	font-size: 12pt;
	margin-left: 0.5%;
	margin-top: 0px;
	margin-right: 0.5%;
	margin-bottom: 0px;
}

a:link {
	color: #2764B5;
	text-decoration: none
}

a:visited {
	color: #2764B5;
	text-decoration: none
}

a:active {
	color: #2764B5;
	text-decoration: underline
}

a:hover {
	color: #FF9900;
	text-decoration: none
}

a.tt:link {
	color: #FFFFFF;
	text-decoration: none
}

a.tt:visited {
	color: #FFFFFF;
	text-decoration: none
}

a.tt:active {
	color: #FFFFFF;
	text-decoration: underline
}

a.tt:hover {
	color: #000000;
	text-decoration: none
}

.system_name {
	width: 300px;
	height: 10px;
	font-size: 20px;
	font-family: 宋体;
	font-weight: 600;
	margin-top: 52px;
	margin-left: 70px;
	position: absolute;
	letter-spacing: 4px;
}

/**menu**/
.left_border {
	background-color: #F6F9FD;
	border: 5px;
	border-color: #5EA2D2;
	border-style: solid;
	border-top: 0px;
	border-bottom: 0px;
	border-right: 1px;
	border-color: #5EA2D2;
	border-style: solid;
	font-size: 12px;
	color: #000000;
}

.menu_title {
	font-size: 12px;
	font-weight: bold;
	color: #1B4A6B;
}

/**表单输入框样式**/
table {
	font-size: 9pt;
}

/*
td{
	padding:5px;
}*/
.tdlist {
	font-size: 9pt;
	/*height: 20px;*/
	text-align: center;
	vertical-align: center;
	border: #EAE9E4 solid;
	border-width: 0 1 1 0;
}

.tabout {
	border: #B2DCF6 solid 1px;
	border-width: 1;
	border-collapse: collapse;
}

.tdulleft {
	width: 30%;
	height: 25px;
	border: #CBEDFE solid 1px;
	border-width: 0 1 1 0;
	text-align: right;
	vertical-align: center;
}

.tdr {
	border: #CBEDFE solid 1px;
	border-width: 0 1 1 0;
	text-align: right;
	vertical-align: center;
	height: 25px;
}

.tdc {
	border: #CBEDFE solid 1px;
	border-width: 0 1 1 0;
	text-align: center;
	vertical-align: center;
	height: 25px;
}

.tdl {
	border: #CBEDFE solid 1px;
	border-width: 0 1 1 0;
	text-align: left;
	vertical-align: center;
	height: 25px;
}

.tdulright {
	padding-left: 10px;
	border: #CBEDFE solid 1px;
	border-width: 0 1 1 0;
	text-align: left;
	vertical-align: center;
	height: 25px;
}

.trcolor {
	background: #F8FCFF;
	height: 25px;
}

/*
.trcolor {
	background: #F5F5F5;
}*/
.trwhite {
	background: #FFFFFF;
	height: 25px;
}

/**表单输入框样式**/
	/**************************************************************************/
	/* 基线系统使用的表单样式;请尽量采用下面的样式。也可以自己添加新的样式样式的命名要清晰易懂*/
.title {
	width: 100%;
	height: 30px;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	filter: progid : DXImageTransform . Microsoft . Gradient ( startColorStr
		= '#FFFFFF', endColorStr = '#D1F8FD', gradientType = '0' );
	color: #184C71;
	line-height: 25px;
	border-bottom: 1px solid #82CAEA;
	bottom: 1;
}

.title2 {
	width: 100%;
	height: 30px;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	filter: progid : DXImageTransform . Microsoft . Gradient ( startColorStr
		= '#FFFFFF', endColorStr = '#D1F8FD', gradientType = '0' );
	color: #184C71;
	line-height: 25px;
	border-bottom: 1px solid #82CAEA;
	bottom: 1;
}

.thlist { /*height: 25px;*/
	background-image: url(../images2/bg/list_bg.gif);
	text-align: center;
	vertical-align: center;
	border: #9A9A9A solid;
	border-width: 0 0 0 0;
	border-right: #CBEDFE solid 1px;
}

.thlist_new { /*height: 25px;*/
	background-color: #AACCFF;
	text-align: center;
	vertical-align: center;
	border: #9A9A9A solid;
	border-width: 0 0 0 0;
	border-right: #CBEDFE solid 1px;
}

.button {
	font-family: "Tahoma", "宋体";
	font-size: 9pt;
	color: #003399;
	border: 0px #003399 solid;
	color: #006699;
	background: url(../images2/bg/button.png);
	width: 62px;
	height: 22px;
	background-color: #e8f4ff;
	cursor: hand;
	font-style: normal;
}

.lbutton {
	font-family: "Tahoma", "宋体";
	font-size: 9pt;
	color: #003399;
	border: 0px #003399 solid;
	color: #006699;
	background: url(../images2/bg/button_length.png);
	width: 110px;
	height: 22px;
	background-color: #e8f4ff;
	cursor: hand;
	font-style: normal;
}

.button_length {
	font-family: "Tahoma", "宋体";
	font-size: 9pt;
	color: #003399;
	border: 0px #003399 solid;
	color: #006699;
	background: url(../images2/bg/button_length.png);
	width: 110px;
	height: 22px;
	background-color: #e8f4ff;
	cursor: hand;
	font-style: normal;
}

.inputtext {
	border: solid 1px #999999;
	background-color: #ffffff;
	text-align: left;
	font-size: 12px;
	height: 20px;
}

.file {
	width: 200px;
	height: 22px;
	border: 1px;
	border-color: #AACFE4;
	border-style: solid;
	background-color: #FFFFFF;
	font-size: 12px;
	line-height: 24px;
	overflow: hidden;
}

.selecttext {
	border: solid 1px #ccc;
	background-color: #ffffff;
	text-align: left;
	height: 18px;
	font-size: 12px;
}

.textarea {
	border: solid 1px #999999;
	background-color: #FFFFFF;
	width: 80%;
	line-height: 100%;
}
/*以上为基线系统使用的表单样式*/