<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	http://www.springframework.org/schema/jee
	http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	<bean name="quartzScheduler"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="applicationContextSchedulerContextKey" value="applicationContextKey" />
	</bean>

	<bean id="jobDetail" class="org.springframework.scheduling.quartz.JobDetailBean"
		scope="prototype">
		<property name="jobClass">
			<value>com.cabletech.schedule.job.SendMessageJob</value>
		</property>
		<property name="jobDataAsMap">
			<map>
				<entry key="rmiSmProxyService">
					<ref bean="rmiSmProxyService" />
				</entry>
				<entry key="sendMessageBO">
					<ref bean="sendMessageBO" />
				</entry>
				<entry key="content" value=""></entry>
				<entry key="sim" value=""></entry>
			</map>
		</property>
	</bean>
</beans>